.app-content{
	width: 100%;
}
form{
	padding: 10px 30px 0 25px;
}
md-input-group.long>input{
	width: 100%;
}
md-card{
	padding: 10px;
}
.progress-bar{
	margin: 0 auto;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    /*box-sizing:border-box;*/
    border-bottom: 1px solid white;
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}