<!DOCTYPE html>
<html>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<head>
		<title>Material design</title>
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
		<link rel="stylesheet" href="bower_components/angular-material/theme/blue-theme.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-app="flickrApp" ng-controller="ListController" layout="column" layout-aling="top center">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span class="md-flex"> Flicker Search</span>
			</div>
		</md-toolbar>
		<md-content layout="column" layout-align="center center">
		<div class="app-content">
			<form ng-submit="search()">
				<div ng-show="!isSearching">
				<md-input-container><label>Search for</label><input class="long" name="searchTerm" ng-model="searchTerm" autofocus>
				</md-input-container>
				</div>
				<md-progress-circular class="progress-bar" ng-if="isSearching" md-mode="indeterminate"></md-progress-circular>
			</form>
			<div ng-repeat="pictures in results.photos.photo| limitTo: pageLimits">
				<md-card>
					<a href="https://farm{{pictures.farm}}.staticflickr.com/{{pictures.server}}/{{pictures.id}}_{{pictures.secret}}_b.jpg" download="{{pictures.id}}_{{pictures.secret}}_b.jpg">
						<img ng-src="https://farm{{pictures.farm}}.staticflickr.com/{{pictures.server}}/{{pictures.id}}_{{pictures.secret}}_n.jpg" alt="" class="md-card-image"/>
						<h3> {{pictures.title}}</h3>
					</a>
				</md-card>
			</div>
			<div layout="row" layout-align="center center">
				<md-button class="md-primary md-raised" ng-show="hasMore()" ng-click="showMoreItems()">Load More</md-button>
			</div>
		</div>
		</md-content>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/hammerjs/hammer.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="bower_components/angular-material/angular-material.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>